<!DOCTYPE html>
<html>
<head>
    <title>Thuốc Cho Pạn - Cholinesterase-Memantine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative Button Styles  - Modern and subtle styles &amp; effects for buttons" />
    <meta name="keywords" content="button styles, css3, modern, flat button, subtle, effects, hover, web design" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <script src="js/modernizr.custom.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Rancho&effect=putting-green">
    <link rel="stylesheet" href="css/thuốc.css" style="text/css"/>
</head>
<body>

    <div class="font-effect-putting-green	 name">
        <h1>Bổ Sung Não</h1>
    </div>
    <div class="anh">
        <img src="http://megafun.vn/dataimages/201008/original/images310883_080920094759_482_499.jpg" alt="" />
    </div>


    <section class="color-4">
        <p>
            <a href="/"><button class="btn btn-4 btn-4d icon-arrow-left button" style="outline: none;">Home</button></a>

        </p>
    </section>






</body>
</html>
