<!DOCTYPE html>
<html>
<head>
    <title>Thuốc Cho Pạn - Vasopolis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width:100%;
        margin: auto;
    }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative Button Styles  - Modern and subtle styles &amp; effects for buttons" />
    <meta name="keywords" content="button styles, css3, modern, flat button, subtle, effects, hover, web design" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <script src="js/modernizr.custom.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Rancho&effect=putting-green">
    <link rel="stylesheet" href="css/thuốc.css" style="text/css"/>
</head>
<body>

    <div class="font-effect-putting-green	 name">
        <h1>Vasopolis</h1>
    </div>
    <div class="abc">
        <div class="image sidebar">
            <img src="trust_me__doctor_chibi__redbubble_shirt_by_erin_tudball-d5n5bh3.png" width="100%" height="100%" alt="">
        </div>
        <div class="xyz">
            <div class="contain" >
                <div id="myCarousel" class="carousel slide" data-ride="carousel"   >
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" >
                        <div class="item active" >
                        <img src="Thuốc/Vasopolis/Vasopolis 1.jpg" alt=""  >
                        </div>

                        <div class="item">
                        <img src="Thuốc/Vasopolis/Vasopolis 2.jpg" alt="" >
                        </div>

                        <div class="item">
                        <img src="Thuốc/Vasopolis/Vasopolis 3.jpg" alt="" >
                        </div>

                        <div class="item">
                        <img src="Thuốc/Vasopolis/Vasopolis 4.jpg" alt="" >
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="info">
        <ul>
            <!-- Tác Dụng-->
            <li><p>Thực phẩm chức năng Vasopolis có chứa hàm lượng cao Atulife - nguyên liệu có nguồn gốc Nhật Bản phối hợp với Đam sâm, Tam thất, L-Carnitin, Co Q10… giải quyết đồng thời cả 3 nguyên nhân gây thiếu máu cơ tim (xơ vữa động mạch, cục máu đông, co thắt mạch) dẫn đến đau tim. Từ đó giúp phòng ngừa từ gốc rễ của nhồi máu cơ tim – Bệnh tim nguy hiểm và thường gặp nhất mà chúng ta thường gọi là đột quỵ tim, đột tử, trụy tim,.</p></li>
            <!-- Cách sử dụng -->
            <li><p>Liều hỗ trợ điều trị: ngày uống 2 lần, mỗi lần 2 viên.</p>
                <p>Giúp phòng bệnh: ngày uống 2 lần, mỗi lần 1 viên.</p>
                <p>Nên uống trước bữa ăn 30 phút hoặc sau bữa ăn 1 giờ.</p>

            <!-- Lưu ý -->
            <li><p>Sản phẩm đã được Bộ Y Tế cấp phép lưu hành, có bán tại các nhà thuốc trên toàn quốc.</p></li>
        </ul>
    </div>

    <section class="color-4">
        <p>
            <a href="/"><button class="btn btn-4 btn-4d icon-arrow-left button" style="outline: none;">Home</button></a>

        </p>
    </section>






</body>
</html>
