<!DOCTYPE html>
<html lang="vi">

<head>

  <title>Chữa Người Lành Thành Người Què Beta</title>

  <meta charset="utf-8">

  <link rel="stylesheet" href="css/style.css">


  <link href='https://fonts.googleapis.com/css?family=Bungee+Shade&subset=latin,vietnamese&effect=destruction' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,vietnamese&effect=fire-animation' rel='stylesheet' type='text/css'>

</head>


<body>
  <div align="center" style="visibility: visible; z-index: 9;">
    <style>
      cursor: url("https://d30y9cdsu7xlg0.cloudfront.net/png/537567-200.png")
    </style>
  </div>



  <div class="container">
    <div class="jumbotron">

      <div class="font-effect-destruction">

          <p id="x">Lang Băm.us</p>

      </div>

      <h3>1 Người Khỏe - 2 Người Vui</h3>

      <div class="font-effect-fire-animation">


        <h4>Nơi Cảm Xúc Thăng Hoa và Nỗi Buồn Xóa Bỏ</h4>

      </div>

      <h2>Click Vào Phần Cơ Thể Bạn Nghĩ Mình Có Vấn Đề:</h2>

    </div>

  </div>


    <div class="pic">



      <a href="/dau" target="_blank"><img src="http://www.upsieutoc.com/images/2016/08/04/dau.jpg" alt="" class = "skull" /></a>


      <a href="/than" target="_blank"><img src="http://www.upsieutoc.com/images/2016/08/04/than.jpg" alt="" class = "main" /></a>


      <a href="/chan" target="_blank"><img src="http://www.upsieutoc.com/images/2016/08/04/chan.jpg" alt="" class = "leg" /></a>


      <a href="/tay" target="_blank"><img src="http://www.upsieutoc.com/images/2016/08/04/trai.jpg" alt="" class="left" /></a>


      <a href="/tay" target="_blank"><img src="http://www.upsieutoc.com/images/2016/08/04/phai.jpg" alt="" class="right" /></a>


  </div>
  <h5>*Chúng tôi ko chịu trách nhiệm về hành động của bạn</h5>
</body>
