<!DOCTYPE html>
<html>
<head>
    <title>Thuốc Cho Pạn - Lá Lốt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width:100%;
        margin: auto;
    }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative Button Styles  - Modern and subtle styles &amp; effects for buttons" />
    <meta name="keywords" content="button styles, css3, modern, flat button, subtle, effects, hover, web design" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <script src="js/modernizr.custom.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Rancho&effect=putting-green">
    <link rel="stylesheet" href="css/thuốc.css" style="text/css">
</head>
<body>

    <div class="font-effect-putting-green	 name">
        <h1>Lá Lốt</h1>
    </div>
    <div class="abc">
        <div class="image sidebar">
            <img src="trust_me__doctor_chibi__redbubble_shirt_by_erin_tudball-d5n5bh3.png" width="100%" height="100%" alt="">
        </div>
        <div class="xyz">
            <div class="contain" >
                <div id="myCarousel" class="carousel slide" data-ride="carousel"   >
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" >
                        <div class="item active" >
                        <img src="Thuốc/Lá Lốt (Đau Nhức Xương Khớp)/Lá Lốt 1.jpg" alt="thuốc"  >
                        </div>

                        <div class="item">
                        <img src="Thuốc/Lá Lốt (Đau Nhức Xương Khớp)/Lá Lốt 2.jpg" alt="thuốc" >
                        </div>

                        <div class="item">
                        <img src="Thuốc/Lá Lốt (Đau Nhức Xương Khớp)/Lá Lốt 3.jpg" alt="thuốc" >
                        </div>

                        <div class="item">
                        <img src="Thuốc/Lá Lốt (Đau Nhức Xương Khớp)/Lá Lốt 4.jpg" alt="thuốc" >
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="info">
        <ul>
            <!-- Hãng -->
            <li><p>Lá Lốt (Chữa đau nhức xương khớp) </p> </li>
            <!-- Tác Dụng-->
            <li><p>Lá lốt chữa đau nhức xương khớp</p>

                <p>Theo kết quả nghiên cứu hiện đại, lá lốt có tác dụng kháng khuẩn, chống viêm và giảm đau khá tốt. Còn trong y học cổ truyền lá lốt có vị nồng, hơi cay, tính ấm, có công dụng ôn trung (làm ấm bụng), tán hàn (trừ lạnh), hạ khí (đưa khí đi xuống) và chỉ thống (giảm đau), thường được dùng để chữa các chứng đau nhức xương khớp khi trời lạnh, chứng ra nhiều mồ hôi ở tay chân, mụn nhọt lâu liền miệng…</p>


            </li>
            <!-- Cách sử dụng -->
            <li><p>Lấy 5-10g lá lốt phơi khô (15-30g lá tươi), sắc 2 bát nước còn ½ bát, uống trong ngày. Uống khi thuốc còn ấm, nên uống sau bữa ăn tối. Mỗi liệu trình điều trị 10 ngày. Hoặc lá lốt và rễ các cây bưởi bung, vòi voi, cỏ xước, mỗi vị 30g, tất cả đều dùng tươi thái mỏng, sao vàng, sắc với 600ml nước, còn 200ml chia 3 lần uống trong ngày. Uống liên tục trong 7 ngày.</p>
            <li>
                <p>Chữa đầu gối sưng đau</p>

                <p>Lá lốt, ngải cứu mỗi vị 20g (tất cả dùng tươi), rửa sạch, giã nát, thêm giấm chưng nóng, đắp, chườm nơi đầu gối sưng đau.</p>
            </li>
            <li>
                <p>Đau bụng do lạnh</p>

                <p>Lá lốt tươi 20g, rửa sạch, đun với 300ml nước còn 100ml. Uống trong ngày khi thuốc còn ấm, nên uống trước bữa ăn tối. Dùng liên tục trong 2 ngày</p>
            </li>
        </ul>
    </div>

    <section class="color-4">
        <p>
            <a href="/"><button class="btn btn-4 btn-4d icon-arrow-left button" style="outline: none;">Home</button></a>

        </p>
    </section>






</body>
</html>
