<!DOCTYPE html>
<html>
<head>
    <title>Thuốc Cho Pạn - Salonpas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width:100%;
        margin: auto;
    }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative Button Styles  - Modern and subtle styles &amp; effects for buttons" />
    <meta name="keywords" content="button styles, css3, modern, flat button, subtle, effects, hover, web design" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <script src="js/modernizr.custom.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Rancho&effect=putting-green">
    <link rel="stylesheet" href="css/thuốc.css" style="text/css"/>
</head>
<body>

    <div class="font-effect-putting-green	 name">
        <h1>Salonpas</h1>
    </div>
    <div class="abc">
        <div class="image sidebar">
            <img src="trust_me__doctor_chibi__redbubble_shirt_by_erin_tudball-d5n5bh3.png" width="100%" height="100%" alt="">
        </div>
        <div class="xyz">
            <div class="contain" >
                <div id="myCarousel" class="carousel slide" data-ride="carousel"   >
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" >
                        <div class="item active" >
                        <img src="Thuốc/Salonpas/Salonpas 1.jpg" alt="thuốc"  >
                        </div>

                        <div class="item">
                        <img src="Thuốc/Salonpas/Salonpas 2.jpg" alt="thuốc" >
                        </div>

                        <div class="item">
                        <img src="Thuốc/Salonpas/Salonpas 3.jpg" alt="thuốc" >
                        </div>

                        <div class="item">
                        <img src="Thuốc/Salonpas/Salonpas 4 .jpg" alt="thuốc" >
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="info">
        <ul>
            <!-- Hãng -->
            <li><p>Salonpas</p> </li>
            <!-- Tác Dụng-->
            <li><p> Khi thoa lên da, các cao phân tử tan được trong nước sẽ nhanh chóng xuyên thấm qua da và phóng thích các hoạt chất đem hiệu quả giảm đau tức thì.</p>
                <p>Hoạt chất có trong thành phần tan được trong mỡ của GEL được hấp thu từ từ vào da và cho tác dụng giảm đau kéo dài.</p>
            </li>
            <!-- Cách sử dụng -->
            <li><p>Dùng cho người lớn và trẻ em trên 2 tuổi. Rửa sạch, lau khô vùng bị đau, bôi 1 lượng thuốc thích hợp lên vùng da bị đau, không quá 3-4 lần trong ngày..</p>

            </li>
            <!-- Lưu ý -->
            <li><p>Không dùng cho trẻ em dưới 2 tuổi, không bôi lên vùng da bị tổn thương hoặc vết thương hở , không sử dụng nếu bạn bị dị ứng Aspirin hoặc Salicylate.</p></li>
        </ul>
    </div>

    <section class="color-4">
        <p>
            <a href="/"><button class="btn btn-4 btn-4d icon-arrow-left button" style="outline: none;">Home</button></a>

        </p>
    </section>






</body>
</html>
