body{
    background-color: white
}

.hello p{
    font-size: 20px
}

.khoahoc img{
    width: 100%
}
.khoahoc{
    background-color: white
}

.reson img{
    display: block;
    margin: 0 auto 40px;
    width: 45%;
}
.reson{
    background-color: white
}
h3{
    font-size: 22px
}
p{
    border-style: 10px
}
.btn{
    font-size: 27px
}
.khung2{
    border-style: solid;
    border-width: 1px;
    padding-bottom: 15px
}
.khung1{
    border-style: solid;
    margin-top: 30px;
    border-width: 1px;
    margin-right: 10px
}
.khung3{
    border-style: solid;
    margin-top: 30px;
    border-width: 1px;
    margin-left: 10px
}
.khung2{
    width: 482px
}
.khung1 p{
    text-align: center
}
.khung2 p{
    text-align: center
}
.khung3 p{
    text-align: center
}
